@model Factory.Models.Machine
@using Factory.Models;
@using System.Collections.Generic;


<h2>Machine Details</h2>

<br>
<div class="list">
<h3>Machine Name : @Model.MachineName</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This Machine does not have any Engineers working on it.</p>
}
else 
{
  <h4>This Machines's current engineers:</h4>
  <ul>
  @foreach (EngineerMachine join in Model.JoinEntities)
  {
    <li>@join.Engineer.EngineerName</li>

      @using (Html.BeginForm("DeleteJoin", "Machines"))
      {
        @Html.Hidden("joinId", @join.EngineerMachineId)
        <input type="submit" value="Delete"/>
      }
  }
  </ul>
}

</div>
<br>

<div class="view-nav">
<button>@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId})</button>
<button>@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId}) </button>
<button>@Html.ActionLink("Back to Machine list", "Index")</button>
<button>@Html.ActionLink("Add Engineer for this Machine", "AddEngineer", new { id = Model.MachineId})</button>
</div>