
@model Factory.Models.Engineer

<h2>Add a machine to @Model.EngineerName</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)

    @Html.Label("Select a Machine")
    @Html.DropDownList("MachineId")

    <input type="submit" value="Save" />
}

<div class="view-nav">
<button>@Html.ActionLink("Back to Engineer list", "Index")</button>
</div>