@using Factory.Models;

<div class="card">
<br>
<h2>Engineers</h2>
@if (Model["engineers"].Length == 0)
{
  <p style="text-align: center;">No engineers have been added yet!</p>
}
<ul>
@foreach (Engineer engineer in Model["engineers"])
{
  <li style="text-align: center;">@Html.ActionLink(@engineer.EngineerName, "Details", "Engineers", new { id = @engineer.EngineerId})</li>
}
</ul>
</div>

<br>

<div class="card">
<br>
<h2>Machines</h2>
@if (Model["machines"].Length == 0)
{
  <p style="text-align: center;">No machines have been added yet!</p>
}
<ul>
@foreach (Machine machine in Model["machines"])
{
  <li style="text-align: center;">@Html.ActionLink(@machine.MachineName, "Details", "Machines", new { id = @machine.MachineId})</li>
}
</ul>
</div>

